body { margin: 60px auto; width: 70%; }
@media screen and (max-width: 768px) {
  body {
    width: 90%;
  }
}

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

/* Blog */
ul.posts { 
    margin: 0px;
    padding: 10px 0px;
    width: 82%;; 
    font-size: 1.5em; }

ul.posts li { 
    list-style: none; 
    font-family: Palatino, Georgia, Times, serif;
    padding: 20px 0px;}

ul.posts li span {     
    font-size: 17px;
    padding-right: 20px;}

ul.posts li a{
    color: black;
    font-size: 30px;
    text-decoration: none;
}

ul.posts li a:hover{
    text-decoration: none;
    color: #3980c0;
}


/* About */
.about .profilePic{
     height: 200px;   
}

.about .profilePhotoAndLinks .links{
        margin-top: 30px;   
}

.skills ui {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills ui li {
    display: inline-block;
    border: solid 1px #333;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    margin: 2px;
    color: #333;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
